@import '../../../variables.scss';

.food {
  border: 2px solid $green-1;
  border-radius: 32px;
  overflow: hidden;
  @include umbra24DP();

  .image-container {
    position: relative;
    width: 100%;
    height: 172px;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }

  .details {
    display: flex;
    align-items: flex-end;
    padding: 24px;

    .left {
      flex: 1;

      h3 {
        color: $n1;
        margin-bottom: 12px;
        @include h3();
      }

      .facts {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 12px;

        li {
          display: flex;
          gap: 8px;
          align-items: center;
          color: $n1;

          .circle {
            width: 20px;
            aspect-ratio: 1;
            background-color: red;
            border-radius: 50%;
            @include umbra12DP;
          }
        }

        :nth-child(1) {
          .circle {
            background-color: $dark-blue-1;
          }
        }
        
        :nth-child(2) {
          .circle {
            background-color: $orange-1;
          }
        }

        :nth-child(3) {
          .circle {
            background-color: $yellow-1;
          }
        }

        :nth-child(4) {
          .circle {
            background-color: $blue-1;
          }
        }
      }

      .serving-size {
        display: flex;
        gap: 8px;
        align-items: center;
        color: $blue-1;

        .icon {

        }
      }
    }

    .right {
      height: 100%;
      justify-content: flex-end;
    }
  }
}